/*Fontes do projeto: Just e Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

/*Topo*/
.sectionHeader{
    width: 80%;
    height: auto;
    margin: 0 auto;
}

header{
    z-index: 9;
    height: 100px;
}
nav{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 150px;
}

a{
    text-decoration: none;
    margin: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.singUp{
    color: #f69050;
}