/*Fontes do projeto: Just e Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');


/*Topo*/
.sectionHeader{
    width: 80%;
    height: auto;
    margin: 0 auto;
    border: 1px solid green;
}

header{
    z-index: 9;
    height: 100px;
}
nav{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 150px;
}

a{
    text-decoration: none;
    margin: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.singUp{
    color: #f69050;
}

/* Formulário */

.corpoForm{
    margin-top: 80px;
    margin-bottom: 30px;
    font-family: 'Jost', sans-serif;
    display: flex;
    justify-content: center;
    border: 1px solid purple

}

.sectionForm{
    width: 80%;
    margin: 25px auto;
    border: 1px solid red;

}

/* .formulario{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;

} */

.tituloForm{
    font-family: 'jost';
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: #629292;
    border: 1px solid black;
}

.imgForm{
    width: 369px;
}

.Form{
    font-family: 'jost';
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: #629292;
    border: 1px solid black;
}


/* .formulario{
    width: 40%;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 15%;
    border: 1px solid red;
} */