/* Brand Colors */
.primary_brand {
    background: #626A7F;
}

.primary_brand_dark {
    background: #3D465E;
}

.secondary_brand {
    background: #F69050;
}

.secondary_brand_dark {
    background: #E0712C;
}


/* Highlight */
.highlight{
    background: #59D89B;
}

.highlight_dark{
    background: #2DA069;
}

.highlight_darkest {
    background:#3B5757;
}

.highlight_secondary{
    background: #A0505A;
}


/* Alerts */
.success{
    background: #53BF85;
}

.info{
    background: #507EF6;
}

.warning{
    background: #F6C850;
}

.danger{
    background: #F65050 ;
}


/* Grayscale */
.lightest{
    background: #FFFFFF;
}

.light{
    background: #FFF9F0;
}

.medium{
    background: #F5E4D4;
}

.medium-plus{
    background: #BEC6DD;
}

.dark{
    background: #8D98B4;
}

.darkest{
    background: #1C212F;
}
