/* MODAL */
.modalTodo{
    border-radius: 20px;
    padding-top: -50px ;
    width: 575px;
}
.modalHeader{
    align-items: flex-start;
    padding-top:0px ;
    height: 100px;
    border: 1px solid white;
    border-radius: 20px;


}

.modalLogo{
    width: 130px;
    height: 70px;
    margin: -20px 15px;
}

.bordavermelha{
    border: 1px solid red;

}

.btnfechar{
    background-color: white;
    width: 50px;
    border:none;
}
.Xfechar{
    width: 70px;
    height: 50px;
}

.corpoModal{
    border: 1px solid white;
    width: 80%;
    margin: 0 auto;
}

.textoLoginModal{
    color: #88bfbf;
    font-weight: bold;
    font-size: 20px;
}
.form-group{
    margin: 25px 0px;
}

.btnModal{
    width: 175px;
    height: 45px;
    border-radius: 25px;
    color: white;
    line-height: 45px;
    background-color: #88bfbf;
    border: none;
    font-weight: bold;

}
.btnModal:hover{
    background-color:  #629292;
}

.linkModal{
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
    letter-spacing: 2px;
    
}