/*Fontes do projeto: Just e Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');



/*Topo*/
.sectionHeader{
    width: 80%;
    height: auto;
    margin: 0 auto;
}

header{
    z-index: 9;
    height: 100px;
}
nav{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 150px;
}

a{
    text-decoration: none;
    margin: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.singUp{
    color: #f69050;
}

.singUp:hover{
    color: #e0712c;
}

.singIn{
    color: #88bfbf;
}

.singIn:hover{
    color: #629292;
}

/*Corpo*/
.apresentacao{
    margin-top: 80px;
    margin-bottom: 30px;
    font-family: 'Jost', sans-serif;
    display: flex;
    justify-content: center;

}

.textoApresentacao{
    font-size: 56px;
    line-height: 68px;
}

.btnApresentacao{
    font-family: 'poppins';
    font-size: 14px;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 30px;
    height: 45px;
    line-height: 45px;
    margin: 0 auto;
    width: 70%;
    background-color: #88BFBF;
}

.btnApresentacao:hover{
    background-color: #629292;
}

.quemSomos{
    background-color: #FFF9F0;
}

/* Como Funciona */
.comoFunciona{
    padding: 3% 10%;
    margin-top: 550px;
    background-image: url(../img/QS-linha.svg) ;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    
    
}

/* Imagens */
.passo1{
    width: 469px;
    height: 306px;
    margin-top: 80px;
}

.passo2{
    width: 467px;
    height: 306px;
    margin: 120px 0px 0px 20px ;
    padding: 0;
    box-sizing: border-box;
    

}

.passo3{
    width: 465px;
    height: 332px;
    margin: 100px 0px 0px -100px;
}

.passo4{
    width: 468px;
    height: 332px;
    margin-top: 150px;

}

.passo5{
    width: 565px;
    height: 373px;
    margin-top: 60px;

}


/* Seja mentor */
.containerSejaMentor{
    width: 80%;
    height: 556px;
    margin: 50px auto;
    align-items: center;

}

.imgSejaMentor{
    width: 370px;
    height: 333px;
}

.articleSejaMentor{
    text-align: right;
}

.tituloSejaMentor{
    color: #f69050;
    font-family: 'Jost';
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
}

.textoSejaMentor{
    font-size: 56px ;
    font-family: 'Jost';
    line-height: 68px;
}

.btnSejaMentor{
    font-family: 'poppins';
    font-size: 14px;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 30px;
    height: 45px;
    line-height: 45px;
    width: 368px;
    margin: 0 auto;
    background-color: #f69050;

}

.btnSejaMentor:hover{
    background-color: #e0712c;
}

/* Recomendações */
.recomendacoes{
    margin-bottom: 50px;
    
}

.tituloRecomendacoes{
    color: #e0712c;
    text-align: center;
    font-weight: bold;
}

.listaCards{
    width: 75%;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
   align-items:center;
    margin-bottom: 50px;
}

.nomeRecomendações{
    text-align: center;
}

.card{
    width: 302px;
    text-align: center;
    background-color: rgba(190, 198, 221, 0.2);
    padding: 30px 35px;
    margin: 25px auto;
}

.card-text{
    font-style:italic; 
}

.corBotaoCarrossel{
   color: rgba(190, 198, 221, 0.2);
}

/* Rodape */
.rodape{
    background-color: #f5e4d4;
}

.integrantes{
    display: flex;
}

.containerRodape{
    width: 80%;
    align-items: flex-start;
    margin: 0px auto;
}

.visualRodape{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
}

.logoRodape{
    width: 465px;
    
}

.imgIntegrantes{
    width: 70px;
}

.integranteIndividual{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;

}

.nomeintegrantes{
    font-family: 'poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}

.cargointegrantes{
    font-family: 'poppins';
    font-size: 10px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: -15px;
}

.textoRodape{
    padding: 50px 20px;
}

.tituloRodape{
    font-family: 'jost';
    font-size: 32px;
    font-weight: 700;
    color: #629292;
    text-align: center;
    margin-bottom: 30px;
}

.txtRodape{
    font-family: 'poppins';
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    margin-bottom: 0;
    
}